@import '@fontsource/league-gothic';
@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/container-queries';

@theme {
  --font-header: 'League Gothic', sans-serif;
  --font-sans:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --color-primary-50: oklch(0.98 0.009 308.642);
  --color-primary-100: oklch(0.952 0.021 304.169);
  --color-primary-200: oklch(0.913 0.037 303.186);
  --color-primary-300: oklch(0.845 0.066 303.843);
  --color-primary-400: oklch(0.746 0.11 304.348);
  --color-primary-500: oklch(0.614 0.166 302.847);
  --color-primary-600: oklch(0.563 0.174 302.429);
  --color-primary-700: oklch(0.495 0.167 302.963);
  --color-primary-800: oklch(0.441 0.138 304.133);
  --color-primary-900: oklch(0.384 0.113 305.12);
  --color-primary-950: oklch(0.287 0.101 304.156);
  --color-black-pearl-50: oklch(0.881 0.064 241.59);
  --color-black-pearl-100: oklch(0.854 0.081 239.59);
  --color-black-pearl-200: oklch(0.812 0.111 235.335);
  --color-black-pearl-300: oklch(0.751 0.148 236.362);
  --color-black-pearl-400: oklch(0.664 0.152 240.033);
  --color-black-pearl-500: oklch(0.563 0.142 244.984);
  --color-black-pearl-600: oklch(0.466 0.129 249.276);
  --color-black-pearl-700: oklch(0.373 0.105 249.79);
  --color-black-pearl-800: oklch(0.3 0.078 246.35);
  --color-black-pearl-900: oklch(0.248 0.061 245.878);
  --color-black-pearl-950: oklch(0.194 0.047 245.441);
}

@layer utilities {
  .prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    padding: 0.1rem 0.25rem;
    background-color: color-mix(in oklch, var(--color-black-pearl-50) 20%, transparent);
    border-radius: 0.25rem;
  }

  .prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::before {
    content: none;
  }

  .prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::after {
    content: none;
  }
}
